.item {
    display: flex;
    align-items: left;
    gap: 8px;
    background-color: #1e1e1e;
    padding: 6px 12px;
    border-radius: 9999px;
    border: 1px solid #333;
    color: white;
    font-size: 0.9rem;
    margin: 1px;
    width: fit-content;
  }
  
  .item-image {
    width: 20px;
    height: 20px;
    object-fit: contain;
    border-radius: 4px; 
  }
  
  .item-text {
    font-weight: 500;
  }

  .item:hover {
    transform: scale(1.05);
    border-color: white;
    background-color: rgb(34, 34, 98);
  }
  