.galleryContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    gap: 5px; 
    overflow: hidden; 
    display: flex;
    width: fit-content; 
    animation: scroll 10s linear infinite;
  }
  
  .gallery > .card { 
    width: 250px; 
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .gallery > .card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .gallery:hover {
    animation-play-state: paused;
  }

  @keyframes scrollLoop {
    0% {
      transform: translateX(0);
    }
    100% {
      /* Move by width of exactly 2 items + their margins */
      transform: translateX(calc(-2 * (300px + 20px)));
    }
  }

@media (max-width: 480px) {
    .gallery {
        width: 100%;
        /* flex-direction: column;
        flex-wrap: nowrap; */
        animation: none; /* stop the horizontal scroll ticker on mobile */
        padding: 10px 0;
        gap: 12px;
        justify-content: center;
    }
} 